.register-main-div {
  width: 40%;
  padding: 30px 20px;
  margin: 20px auto;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.register-sub-div {
  width: 100%;
  margin: 20px 0px;
}
.form-flexlable {
  height: 75px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 350px;
  justify-content: space-evenly;
  font-family: "JosefinSans";
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  color: black;
}
.form-button {
  width: 50%;
  text-align: center;
  margin: 10px auto;
  background-color: 3;
  font-family: "JosefinSans";
}
.form-btn {
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #6bd0ff;
  color: black;
  font-family: "JosefinSans";
  font-size: 18px;
  font-weight: 600;
  width: 50%;
  border: none;
  letter-spacing: 2px;
}
.form-title {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-family: "JosefinSans";
  font-weight: 600;
  letter-spacing: 2px;
  color: black;
}
.form-inputLable {
  padding: 10px;
  // font-family: "JosefinSans";
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  color: black;
}
.form-file {
  width: 80%;
  margin: 0 auto;
}
.file-input-container {
  margin: 20px;
  border: 1px solid gray;
  color: black;
  padding: 10px;
  text-align: center;

  // font-family: "JosefinSans";
  font-weight: 600;
}
.button-spin-svg-pic {
  animation: spin 1s linear infinite;
  width: 30px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
