.sponsor-section {
  color: #ffffff;
  padding: 50px;
  text-align: center;
}

.sponsor-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0px;
}

.poweredbyHeading {
  font-size: 3rem;
  font-family: "Josefin Sans";
  color: rgb(0, 0, 0);
}

.sponsorname {
  font-size: 2rem;
  font-family: "JosefinSans";
}

.LandingSponsorDesc {
  font-size: 20px;
  
  font-weight: 400;
}

.sponsor-card {
  background-color: #fff;
  color: #000;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  width: 300px;
  text-overflow: ellipsis;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Add box-shadow for the sponsor cards */
}

@media (max-width: 768px) {
  .sponsor-card {
    width: calc(50% - 20px);
  }

  .sponsorname {
    font-size: 1rem !important;
    font-family: "JosefinSans";
  }
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.sponsor-card img {
  max-width: 100%;
  max-height: 100%;
}

.sponsor-section {
  text-align: center;
  font-size: 100%;
}

.sponsor-section h1 {
  font-weight: bold;
}
